/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
.post-it {
    Background-color: yellow;
    display: inline-block;
    width: 260px;
    height: 260px;
    font-family: sans-serif;
    margin: 24px;
    padding: 24px;
    vertical-align: top;
}
