* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
.sc{
    background-color: lightblue;
    width: 85%;
    max-width: 1440;
    margin-left: auto;
    padding: 24px;
    margin-right: auto;
}